ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #dd1111;
    color:#fff;
      
      
  }
  li{
    display: inline;
  }
  a {
 
    padding: 8px;
    background-color: #dd1111;
    text-decoration: none;
  }
  a:hover{
    color: #dd1111;
    background-color: #fff;
    text-decoration: none;
  }
  h1{
    color:#fff;
  }
